@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rampart One', cursive;
    background: linear-gradient(to right, #7fa0af 0%, #a7bcc5 100%) 
}

.main-container {
    display: flex;
    width: 95%;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    min-height: 100vh;
    background-color: #ffffff3b;
    margin: auto;
    gap: 10px;
    padding-top: 20px;
    box-shadow: 10px 10px 25px #38341086;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient( #ba8b02 0%, #181818 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

input {
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    border: 0;
    outline: 0;
    width: 65%;
    background: transparent;
    font-size: 1.5rem;
    border-bottom: 3px solid #69520e;
}

#icon {
    font-size: 2.5rem;
    cursor: pointer;
    background: linear-gradient( #ba8b02 0%, #181818 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#grocery-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    width: 75%;
    font-size: 1.5rem;
    color: black;
}

#grocery-items li {
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: capitalize;
}
