@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background: #f5f5f5;
}

.main-container {
    display: flex;
    width: 95%;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    min-height: 100vh;
    background: linear-gradient(to right, #b4b2a7c9, #dad6c9be);
    border: 2px solid #69520e;
    margin: auto;
    gap: 10px;
    padding-top: 20px;
    box-shadow: 10px 10px 25px #38341086;
}

.title {
    text-align: center;
    font-style: italic;
    font-size: 2.5rem;
    background: linear-gradient( #ba8b02 0%, #181818 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

input {
    align-items: center;
    font-family: inherit;
    color: #69520e;
    border: 0;
    outline: 0;
    width: 65%;
    background: transparent;
    font-size: 1.5rem;
    border-bottom: 3px solid #69520e;
}

#icon {
    font-size: 2.5rem;
    cursor: pointer;
    background: linear-gradient( #ba8b02 0%, #181818 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#icon:hover {
    transform: scale(1.1);
}

#grocery-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    width: 75%;
    font-size: 1.5rem;
}

#grocery-items li {
    cursor: pointer;
    font-family: inherit;
    text-transform: capitalize;
    font-weight: bold;
    color: #584711;
}
